<h3>ServiceProviders Description</h3>
<p>Provide Service Providers description</p>
<p>Service Provider Performance Requirements</p>
<%= link_to 'Register as Service Provider', service_providers_register_path  %>

